


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Catto & Doggo Classifier</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="/static/style.css" type="text/css">

  </head>
  <body>

<section class="hero is-fullheight">
  
    <div class="bg-img"></div>
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item">
              <img href ="/" src="/static/images/coderschool.svg" alt="Logo">
            </a>
            <span class="navbar-burger burger" data-target="navbarMenuHeroA">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>

          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item" href="/">
                Home
              </a>
              <a class="navbar-item" href="/about">
                About Us
              </a>
              <a class="navbar-item is-active is-danger" href="/model">
                Model
              </a>
              <span class="navbar-item">
                <a href="https://github.com/minhanhng-cd/catto-doggo" target="_blank" class="button is-primary is-inverted">

                  <span style="color: red;font-weight: bold">Github</span>
                </a>
              </span>
            </div>
          </div>
        </div>
      </nav>
    </div>
  
    <div class="hero-body bg-img3"></div>
    <div class="container bg-text" style="width: 100%; text-align: left">
        <h1 style="font-size: 4.5rem; padding-bottom: 50px">Meet our Team</h1>
        <div class="columns">
            <div class="column" style="width: 100%">
                <img src="/static/images/ma.jpg" style="box-shadow:7px 7px 4px rgba(0,0,0,0.25); height: 200px;">
                <h1 style="font-size: 2.2rem; text-align: left; margin-bottom: 0px">Mina Nguyen</h1>
                <h2 class="subtitle" style="color: gainsboro; font-style: italic">The Cool Boy</h2>
                <ul>
                  <li>- TA at Fansipan</li>
                  <li>- Does 99.99% of the works</li>  
                  <li>- Can play 5 different instruments</li>
                  <li>- Has been single for 23 years</li>
                </ul>
            </div>

            <div class="column" style="width: 100%;">
                <img src="/static/images/chuonchuon.jpg" style="box-shadow:7px 7px 4px rgba(0,0,0,0.25); height: 200px;">
                <h1 style="font-size: 2.2rem; text-align: left; margin-bottom: 0px">Chuon Chuon</h1>
                <h2 class="subtitle" style="color:gainsboro; font-style: italic">The Poodle</h2>
                <ul>
                  <li>- Coderschool's spirit animal</li>
                  <li>- Fluffy and Brown</li>  
                  <li>- Sleeps when you work</li>
                  <li>- Loves to chew stuffs</li>
                </ul>
            </div>

            <div class="column" style="width: 100%;">
                <img src="/static/images/uku.jpg" style="box-shadow:7px 7px 4px rgba(0,0,0,0.25); height: 200px;">
                <h1 style="font-size: 2.2rem; text-align: left; margin-bottom: 0px">Uku</h1>
                <h2 class="subtitle" style="color:gainsboro; font-style: italic">The Flerken</h2>
                <ul>
                  <li>- Definitely not a catto</li>
                  <li>- Devourer of Food</li>  
                  <li>- Naps 25 hours a day</li>
                  <li>- Can't jump on kitchen tabel</li>
                </ul>
            </div>

            <div class="column" style="width: 100%;">
                <img src="/static/images/lele.jpg" style="box-shadow:7px 7px 4px rgba(0,0,0,0.25); height: 200px;">
                <h1 style="font-size: 2.2rem; text-align: left; margin-bottom: 0px">Lele</h1>
                <h2 class="subtitle" style="color:gainsboro; font-style: italic">The Cate</h2>
                <ul>
                  <li>- Good singer</li>
                  <li>- Destroyer of Sleeps</li>  
                  <li>- Loves balls</li>
                  <li>- Always wins wrestling with Uku</li>
                </ul>
            </div>
                
            </div>
        </div>
    </div>
  </section>


  <script src="/static/script.js"></script>
</body>
</html>